.aside {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: auto;
  gap: 50px;
  width: 80%;
  min-height: 544px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 6px;
  background-color: $text-dark-accent;
  @media (max-width: $tablet) {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-content: space-between;
    gap: 37px;
    width: 85%;
    min-height: 736px;
    margin: 30px auto;
    padding: 30px;
  }
  @media (max-width: $mobile) {
    width: 90%;
    margin: 20px auto;
  }
  &__content {
    padding-top: 90px;
    @media (max-width: $tablet) {
      display: flex;
      flex-flow: column wrap;
      align-content: space-between;
      padding: 0;
    }
  }
  &__button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    @include button;
    width: 154px;
    color: $text-dark;
    border: none;
    background-color: $text-light;
    @include hover-cursor;
    &:hover {
      color: $text-light;
      background-color: $text-dark;
    }
    @media (max-width: $tablet) {
      align-self: flex-start;
      margin-bottom: 0;
    }
  }
  &__image-container {
    width: 100%;
    max-height: 100%;
    margin: auto;
    background-position: center;
    @media (max-width: $tablet) {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
  }
  &__image {
    object-fit: fill;
    max-width: 100%;
    height: 100%;
  }
  &__text {
    min-height: 66px;
    margin-bottom: 34px;
    @include text-explanation;
    color: $text-light-gray;
    text-align: left;
    @media (max-width: $tablet) {
      margin-bottom: 21px;
    }
  }
  &__title {
    min-height: 192px;
    margin-bottom: 28px;
    @include title-section;
    color: $text-light;
    text-align: left;
    @media (max-width: $tablet) {
      min-height: 144px;
      margin-bottom: 15px;
    }
    @media (max-width: $mobile) {
      min-height: auto;
      @include text-title;
      color: $text-light;
    }
  }
}
#footer {
    background-color: $bg-color;
    .footer {
        padding-top: 92px;
        .footer-main {
            padding-bottom: 68px;
            @include flexBox(space-between, flex-start);
            .logo {
                color: $text-dark;
                font-size: 1.5rem;
                font-weight: 700;
            }
            .services {
                h5 {
                    color: $text-dark-accent;
                    letter-spacing: 3px;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }
                ul {
                    li {
                        margin: 0.5rem 0;
                        a {
                            color: $text-dark;
                            text-decoration: none;
                        }
                    }
                }
            }
            .menu{
                h5 {
                    color: $text-dark-accent;
                    letter-spacing: 3px;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }
                ul {
                    li {
                        margin: 0.5rem 0;
                        a {
                            color: $text-dark;
                            text-decoration: none;
                        }
                    }
                }
            }

            @media only screen and (max-width: 992px) {
                flex-direction: column;
                align-items: center;
                row-gap: 51px;
                text-align: center;
            }
        }
        .social-icons {
            margin-top: -18px;
            @include flexBox();
            .icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: $text-dark-accent ;
                @include flexBox();
                // margin: 0 0.25rem;
                margin: 0 4px;
            }
        }
        .footer-copyright {
            border-top: 1px solid #f3d1bf;
            @include flexBox(space-between);
            p {
                color: rgba(57, 20, 0, 0.64);
                font-size: 16px;
            }
            .terms-privacy {
                padding: 43px 0;
                ul {
                    display: flex;
                    column-gap: 68px;
                    li {
                        a {
                            color: $text-dark;
                            font-size: 1rem;
                            text-decoration: none;
                        }
                    }
                }
            }
            @media only screen and (max-width: 992px) {
                flex-direction: column;
                align-items: center;

                p {
                    margin-top: 43px;
                }
            }
        }
        @media only screen and (max-width: 992px) {
            // padding-top: 45px;
        }
    }
}


