.faq-block {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  padding: 50px 0;
  @media (max-width: $tablet) {
    flex-direction: column;
    padding: 30px 0;
  }
  &__info {
    width: 40%;
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
  &__subtitle {
    @include orange-subtitle;
  }
  &__title {
    margin: 15px 0;
    @include text-title;
  }
  &__text {
    margin-bottom: 25px;
    @include text-explanation;
    color: $text-dark-gray;
  }
  &__link {
    @include text-explanation;
    text-decoration: none;
    color: $text-dark;
    @include link-hover;
  }
}

.accordion {
  width: 50%;
  padding-top: 20px;
  @media (max-width: $tablet) {
    width: 100%;
  }
}

.accordion-item {
  width: 80%;
  background-color: transparent;
  border: 1px solid $orange-light;
  .accordion-header {
    background-color: transparent;
    .accordion-button {
      @include text-logo;
      color: $text-dark;
      outline: none;
      
    }
    .accordion-button:not(collapsed) {
      padding: 40px;
      background-color: $text-light;
      box-shadow: none;
    }
    .accordion-button.collapsed {
      padding: 40px;
      background-color: transparent;
      box-shadow: none;
    }
    .accordion-button::after {
      content: url("../assets/images/main/down.svg");
      width: auto;
      height: auto;
      background-image: none;
    }
  }
  .accordion-collapse {
    .accordion-body {
      padding: 0 0px 44px;
      @include text-explanation;
      color: $text-dark-gray;
      background-color: $text-light;
    }
  }
  .show {
    background-color: $text-light;
    box-shadow: 0 32px 64px 0 $shadow-light;
  }
  &:first-of-type {
    border-radius: 6px px 0 0;
    box-shadow: 0 32px 64px 0 $shadow-light;
  }
  &:last-of-type {
    border-radius: 0 0 6px 6px;
  }
}
  