.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  min-height: 551px;
  padding: 50px 0;
  @media (max-width: $tablet) {
    flex-direction: column-reverse;
    padding: 0 0 40px;
  }
  &__info {
    width: 50%;
    align-self: center;
    @media (max-width: $tablet) {
      align-self: flex-start;
      width: 100%;
    }
  }
  &__subtitle {
    @include orange-subtitle;
  }
  &__title {
    max-width: 470px;
    margin: 20px 0;
    @include title-section;
    @media (max-width: $tablet) {
      max-width: 100%;
      margin: 15px 0;
      @include text-title;
    }
  }
  &__explanation {
    max-width: 470px;
    margin-bottom: 25px;
    @include text-addition;
    @media (max-width: $tablet) {
      max-width: 100%;
    }
  }
  &__photo {
    width: 50%;
    @media (max-width: $tablet) {
      width: 60%;
      height: auto;
      margin-bottom: 15px;
    }
    @media (max-width: $mobile) {
      width: 100%;
      max-width: 300px;
      max-height: 300px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.features-advantages {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
  &__item {
    display: flex;
    @include text-explanation;
    color: $text-dark-gray;
    &::before {
      content: url("../assets/images/main/check-icon.svg");
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }
}

.features-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  @media (max-width: $tablet) {
    flex-wrap: wrap;
    padding: 30px 0;
  }
  &__text {
    align-items: stretch;
    max-width: 370px;
    @media (max-width: $tablet) {
      max-width: 100%;
    }
  }
  &__subtitle {
    @include orange-subtitle;
  }
  &__explanation {
    margin: 30px 0;
    @include text-addition;
  }
  &__link {
    @include text-explanation;
    text-decoration: none;
    color: $text-dark;
    @include link-hover;
  }
}

.features-cards {
  display: flex;
  @media (max-width: $tablet) {
    margin-top: 35px;
  }
  @media (max-width: $mobile) {
    flex-direction: column;
    width: 100%;
  }
  &__item {
    padding: 48px;
    border: 1px solid $orange-light;
    box-shadow: 0 32px 64px 0 $shadow-light;
    &:first-of-type {
      max-width: 336px;
      max-height: 336px;
      background: $text-light;
      border-radius: 6px 6px 0 6px;
      box-shadow: 0 32px 64px 0 $shadow-light;
      @media (max-width: $mobile) {
        max-width: 100%;
        border-radius: 6px 6px 0 0px;
      }
    }
    &:last-of-type {
      align-self: flex-end;
      max-width: 336px;
      max-height: 272px;
      border-radius: 0 6px 6px 0;
      @media (max-width: $mobile) {
        align-self: stretch;
        max-width: 100%;
        border-radius: 0 0 6px 6px;
      }
    }
  }
  &__item-icon {
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__item-title {
    margin: 40px 0 19px;
    @include text-logo;
    color: $text-dark;
  }
  &__item-explanation {
    @include text-explanation;
    color: $text-dark-gray;
  }
}

.statistics {
  display: flex;
  padding: 30px 0;
  @media (max-width: $tablet) {
    padding: 20px 0;
  }
  @media (max-width: $mobile) {
    flex-direction: column;
  }
  &__item {
    flex-grow: 1;
    padding: 45px;
    border: 1px solid $orange-light;
    &--first {
      border-radius: 6px 0px 0px 6px;
      @media (max-width: $mobile) {
        border-radius: 6px 6px 0px 0px;
      }
    }
    &--last {
      border-radius: 0px 6px 6px 0px;
      @media (max-width: $mobile) {
        border-radius: 0px 0px 6px 6px;
      }
    }
  }
  &__title {
    @include text-title;
  }
  &__explanation {
    @include text-addition;
  }
}
