.footer {
  width: 100%;
}

.footer-content {
  @include light-blocks;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  @media (max-width: $tablet) {
    margin-bottom: 30px;
  }
  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  &:last-of-type {
    border-top: 1px solid $line-color;
  }
  &__title {
    @include text-logo;
    @media (max-width: $tablet) {
      display: flex;
      justify-self: center;
    }
  }
  &__rights {
    @include text-explanation;
    color: $text-dark-gray;
    text-align: left;
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: $mobile) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__title {
    @include orange-subtitle;
  }
  &__items {
    @media (max-width: $mobile) {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
  &__item {
    @include text-explanation;
    color: $text-dark;
    text-align: left;
    @include link-hover;
    @media (max-width: $tablet) {
      text-align: center;
    }
  }
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  column-gap: 10px;
  @media (max-width: $tablet) {
    justify-content: center;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-image: url("../assets/images/oval.svg");
    background-size: 100%;
    background-position: center;
    @include hover-cursor;
  }
}

.footer-links {
  display: flex;
  gap: 30px;
  &__item {
    @include text-explanation;
    color: $text-dark;
    text-align: right;
  }
}
.services {
  display: flex;
  flex-direction: column;
  & h5 {
    @include orange-subtitle;
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  & li {
    @include text-explanation;
    color: $text-dark;
    @include link-hover;
  }
}