@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

$bg-color-light: #fdf0e9;
$bg-color-dark: #28293e;
$bg-color-accent: #ef6d58;
$text-dark: #391400;
$text-dark-accent: #ef6d58;
$text-dark-gray: #391400a3;
$text-light: #ffffff;
$text-light-gray: #ffffffa3;
$orange-light: #f3d1bf;
$shadow-dark: #39140014;
$shadow-light: #3914000a;
$border-dark: #3a3c56;
$border-light: #ffffff4d;
$line-color: #f3d1bf;
$bg-burger: #d8d8d8;
$primary-color: #1000eb;
$secondary-color: #312B49;
$bg-color: #FDF0E9;
$color-white: #fff;
$color-black: #000;


$font-family: "Epilogue", sans-serif;

$desktop-md: 1440px;
$tablet: 1024px;
$mobile: 767px;
$mobile-sm: 374px;
